h1 {
  color: #ffffff;
  font-family: 'Rambla', sans-serif;
  text-align: center;
}
h3 {
  color: #270505;
  font-family: 'Rambla', sans-serif;
}

.signin-pg {
  text-align: center;
  margin-top: 30px;
}

.signin-img {
  display: flex-center;
  margin-bottom: 15px;
}

.signin-btn {
  margin-top: 30px;
  margin-left: 200px;
}

img {
  max-width: 50%;
}

@media screen and (max-width: 600px) {
  .signin-btn {
    margin-left: 30px;
  }
  .signin-pg {
    max-width: 300px;
    margin: 0 auto;
  }
}
