@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap');

/* variables */
:root {
  --heading-color: #444;
  --text-color: #dad2d2;
  --primary-color: #8d69f1;
  --highlight-color: #d13267;
  --bg-color: #420404;
}

/* base styles */
body {
  background: var(--bg-color);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.App {
  max-width: 640px;
  margin: 0 auto;
}

p {
  color: var(--text-color);
  font-family: 'PT Serif', serif;
}

label,
label span {
  display: block;
  margin: 6px 0;
  color: white;
}
input {
  padding: 6px;
  margin-bottom: 12px;
}
button {
  background: #c02424;
  color: #fff;
  border: 0;
  border-radius: 10px;
  padding: 8px 10px;
  font-size: 20px;
  font-family: 'PT Serif', serif;
}
