/* variables */
:root {
  --heading-color: #444;
  --text-color: #dad2d2;
  --primary-color: #8d69f1;
  --highlight-color: #d13267;
  --bg-color: #420404;
}

/* base styles */
body {
  background: var(--bg-color);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.App {
  max-width: 640px;
  margin: 0 auto;
}

p {
  color: var(--text-color);
}

.book-list ul {
  padding: 0;
}
.book-list li {
  list-style-type: none;
  padding: 10px;
  background: #fff;
  margin: 10px 0;
  cursor: pointer;
}

label,
label span {
  display: block;
  margin: 6px 0;
  color: white;
}
input {
  padding: 6px;
  margin-bottom: 12px;
}
button {
  background: #772eff;
  color: #fff;
  border: 0;
  padding: 6px 8px;
}
